
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.no-bullets {
  list-style: none;
}

/* Description */

.header,
.description {
  padding-left:10%;
  padding-right:10%;
  background-color: #0d2a53;
}

.description {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1 1 auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 50%;
}

.my-img {
  flex: 1 1 50%;
}

.my-img img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.description .sign-up {
  background-color: #3882f6;
  flex: 0 1 auto;
  border-radius: 8px;
  max-width: 125px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  border: none;
  font-family: 'Courier New', Courier, monospace;
}

.sign-up:hover {
  background-color: #276edf;
}

/* Info */

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
}

#info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  align-self: center;
  margin: 20px;
}

#info-list {
  display: flex;
  
  flex-wrap: wrap;
  justify-items: center;
  margin: 0;
  padding: 0;
  /*justify-content: space-around;*/
}

#info-list ul {
  padding-left:10%;
  padding-right:10%;
}

#info-list img {
  max-width: 200px;
  border-radius: 8px;
  border: #3882f6 solid 2px;
}

/* Quote */

.quote {
  flex: 1;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote div {
  display: flex;
  flex-direction: column;
}

.quote.text {
  max-width: 50%;
  max-height: 50%;
}

.quote .text {
  /*font-size: 36px;*/
  font-weight: 300;
}

.quote .author {
  text-align: end;
}

/* Footer */

.footer {
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
}