
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.no-bullets {
  list-style: none;
}

/* Description */

.header,
.description {
  padding-left:10%;
  padding-right:10%;
  background-color: #0d2a53;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.left-side {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 50%;
}

.my-img {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.my-img img {
  border-radius: 4px;
  max-width: 400px;
  max-height: auto;
}

.main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  vertical-align: middle;
  border-radius: 8px;
  width: 100px;
  height: 20px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: content-box;
}

.sign-up:hover {
  background-color: #276edf;
}

/* Info */

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
}

#info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  align-self: center;
  margin: 20px;
}

#info-list {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

#info-list ul {
  padding-left:10%;
  padding-right:10%;
}

#info-list img {
  max-width: 200px;
  border-radius: 8px;
  border: #3882f6 solid 2px;
}

/* Quote */

.quote {
  flex: 1 1 auto;

  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.quote div {
  display: flex;
  flex-direction: column;
}

.quote .text {
  font-size: 26px;
  font-weight: 300;
}

.quote .author {
  text-align: end;
}

/* Action */

.action {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.blue {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
  flex: 1;
  padding: 40px;
}

.call {
  color: #f9faf8;
  font-weight: 700;
  font-size: 20px;
}

#click {
  color: #e5e7eb;
}

.blue .sign-up {
  border: #f9faf8 solid 2px;
}



/* Footer */

.footer {
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  background-color: #0d2a53;
}